@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class="container">
  <div class="header">
    <h1>Eau Claire's Salon</h1>
    <h3>Stylists</h3>
  </div>
  <h2>Current Hair Stylists: </h2>
  <p>click on a stylist name to see their details and a list of their clients</p>
  @if(@Model.Count == 0)
  {
    <p>No stylists logged. Please add a stylist</p>
  }
  else
  {
    <ul>
      @foreach(Stylist stylist in Model) 
      {
        <li>@Html.ActionLink($"{stylist.Name}", "Details", new{id = stylist.StylistId})</li>
      }
    </ul>
    
  }
  <p>@Html.ActionLink("Add a Stylist", "Create") </p>
  @if(@Model.Count != 0)
  {
    <p> @Html.ActionLink("View all Clients", "Index", "Clients") </p>
  }
  <p>@Html.ActionLink("Return Home", "Index", "Home")</p>
</div>