@{
  Layout = "_Layout";
}

<div class="container">
  <div class="header">
    <h1>Eau Claire's Salon</h1>
    <p>Stylist and Client Organizer</p>
  </div>
  <h2>Welcome Back, Claire!</h2>
  <p>@Html.ActionLink("View Current Stylists", "Index", "Stylist") </p>
</div>